body {
  margin: 0px;
  padding: 0px;
}

.header-container {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: grey 0.5px solid;
}
.header-container h5 {
  color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  bottom: 4px;
}
.header-container .info {
  display: flex;
  gap: 25px;
  margin-left: auto;
}
.header-container .fa-solid.fa-phone {
  color: rgb(6, 221, 6);
}
.header-container .fa-regular.fa-calendar-plus {
  color: rgb(6, 221, 6);
}
.header-container .fa-regular.fa-envelope {
  color: rgb(6, 221, 6);
}

.navbar {
  display: flex;
  padding-left: 50px;
  padding-right: 45px;
}
.navbar h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
}
.navbar h1::first-letter {
  background-color: rgb(6, 221, 6);
  color: white;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin-left: auto;
}
ul a {
  text-decoration: none;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul #appointment {
  background-color: rgb(6, 221, 6);
  padding: 20px;
  border-radius: 6px;
  color: black;
}
ul #appointment:hover {
  color: white !important;
}
ul a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul a:hover {
  color: rgb(6, 221, 6);
}

.section-1 {
  min-height: 800px;
  background-image: url(african-american-nurse-using-digital-tablet-treatment-black-medical-assistant-looking-screen-device-while-wearing-uniform-stethoscope-doctors-office-healthcare.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-1 h5, .section-1 h1, .section-1 p {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}
.section-1 h1 {
  font-size: 2.8em;
}
.section-1 h5 {
  top: 28px;
}
.section-1 p {
  bottom: 17px;
  background-color: rgb(43, 43, 157);
  padding: 18px;
  border-radius: 4px;
}

.section-2 {
  background-image: url(about-bg.jpg);
  background-size: cover;
  min-height: 92vh;
  display: flex;
}
.section-2 .inner-div {
  position: relative;
  min-width: 100px;
  top: 182px;
  left: 200px;
}
.section-2 h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.9em;
  margin: 0;
  font-weight: bold;
}
.section-2 #center {
  position: relative;
  top: 8px;
}
.section-2 pre {
  font-weight: bold;
  color: grey;
  position: relative;
  top: 20px;
}
.section-2 .welcome span {
  background-color: black;
  color: white;
  border-radius: 5px;
}
.section-2 .image-container img {
  border-radius: 50%;
  height: 70px;
  width: 80px;
  position: relative;
}
.section-2 .image-container {
  display: flex;
  gap: 10px;
  position: relative;
  top: 12px;
}
.section-2 .some-text h4 {
  color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.section-2 .some-text h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.section-2 .some-text #principal {
  position: relative;
  bottom: 10px;
}

.section-3 {
  border: 5px solid red;
  height: 150vh;
  padding-left: 130px;
  padding-top: 40px;
}
.section-3 h1 {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.9em;
}
.section-3 .image {
  border: 5px solid red;
  height: 100px;
}
.section-3 .third-container {
  border: 5px solid orange;
  display: flex;
  min-height: 100vh;
  gap: 19px;
}
.section-3 .section-3-text {
  border: 5px solid green;
  height: 200px;
}
.section-3 .section-3-text h4 {
  color: grey;
  position: relative;
  bottom: 10px;
}
.section-3 .section-3-text .closing-content-for-section-3 {
  border: 5px solid red;
}/*# sourceMappingURL=style.css.map */